# Git
.git/
.gitignore

# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
.pytest_cache/
.mypy_cache/

# IDE
.idea/
.vscode/
*.swp

# OS
.DS_Store

# Project
posters/*.png
cache/
*.md
!README.md

# Docker
Dockerfile
docker-compose.yml
.dockerignore
